<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CRM_WEB</title>
</head>
<body>
<h1>顧客一覧</h1>
<ol>
    {% for customer in customers %}
    <!-- Bob 15 => Bobさん 15才 -->
    <!-- {{ customer[0] }} {{ customer[1] }}<br>-->
    <li>{{ customer[0] }}さん {{ customer[1] }}才</li>
    {% endfor %}
</ol>
</body>
</html>



<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>CRM_WEB</title>
</head>
<body>

<form action="" method="post">
    名前
    <input type="text" name="content">
    <input type="submit" value="登録">
</form>

<form action="/tweet" method="post">
    年齢
    <input type="text" name="content">
    <input type="submit" value="登録">
</form>

</body>
</html>

