<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Weather_data</title>
</head>
<body>
<h1>気温一覧</h1>
<ol>
    {% for customer in customers %}
    <li>地域：{{ customer[0] }} 気温{{ customer[1] }}℃</li>
    {% endfor %}

    <form action="" method="post">
    <div>
        <label for="place">地域:</label>
        <input type="text" name="place" id="place">
    </div>
    <div>
        <label for="temp">温度:</label>
        <input type="number" name="temp" id="temp">
    </div>
    <input type="submit" value="登録">
</form>
</ol>
</body>
</html>